.bg_ellipse {
    position: absolute;
    top: 145%;
}

.bg_ellipse2 {
    position: absolute;
    top: 91%;
    left: 34%;
}

#email_pic {
    height: 250px;
    position: absolute;
    top: 251%;
    left: 32%;
}