.main {
    background-color: white;
}

.head2 {
    margin: 50px 0 0 40px;
    font-size: 25px;
    font-weight: 800;
    color: #F77F00;
}

.pic_slt1 img {
    height: 350px;
    margin: 30px;
}

.slt_moto {
    margin: 7px 0 0 15px;
    height: 108px;
    /* background-color: aqua; */
    font-size: 24px;
    font-weight: 800;
    color: #003049;
    width: 262px;
    /* padding: 5px 11px; */
    text-align: center;
}

#depat {
    margin: 0 0 0px 44px;
    font-size: 22px;
    font-weight: 300;
}

#depat2 {
    margin: 0 0 0px 75px;
    font-size: 22px;
    font-weight: 300;
}

.pic_slt2 img {
    height: 350px;
    margin: 50px 0 0 75px;
}

.slt_moto2 {
    margin: 7px 0 0 65px;
    height: 108px;
    /* background-color: aqua; */
    font-size: 24px;
    font-weight: 800;
    color: #003049;
    width: 262px;
    /* padding: 5px 11px; */
    text-align: center;
}

.person_info2 {
    position: sticky;
    z-index: 1;
}

.person_info {
    position: sticky;
    z-index: 1;
}